@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Parisienne&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
p,
span,
a {
    font-family: "DM Sans";
}

main {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    margin-left: 100px;
}

.logo {
    height: 50px;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

.photograph-header .photograph-portrait {
    height: 200px;
    width: 200px;
    object-fit: cover;
    clip-path: circle(50%);
}

.photograph-header .photographer-name {
    font-size: 4rem;
    color: #d3573c;
    font-weight: 400;
}

.photograph-header .location {
    font-size: 1.5rem;
    color: #901c1c;
}

.portfolio {
    margin: 0 100px;
    width: fit-content;
}

.portfolio .media-list {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 95px;
}

.portfolio .media-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.portfolio .photographer-media {
    object-fit: cover;
    width: 350px;
    height: 300px;
    object-position: center;
}

.portfolio .media-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.portfolio .media-footer .image-title {
    font-weight: 400;
    font-size: 1.5rem;
    color: #901c1c;
}

.portfolio .media-footer .media-likes {
    display: flex;
    align-items: center;
}
.portfolio .media-footer .media-likes .likes-count {
    color: #901c1c;
    font-size: 1.5rem;
    font-weight: 500;
}

.portfolio .media-footer .media-likes .like-button {
    background: none;
    border: none;
    padding: 0;
}
.like-button:hover {
    cursor: pointer;
}

/* Résumé */
.resume {
    display: flex;
    justify-content: space-between;
    background-color: #db8876;
    width: max-content;
    column-gap: 20px;
    padding: 15px 30px;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 50px;
}

.resume .total-likes {
    display: flex;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

/* Light Box Modal */
.lightbox-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

div.lightbox-modal.open {
    display: flex;
}

.lightbox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.lightbox .close-button {
    position: absolute;
    top: 0;
    right: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.lightbox .lightbox-media {
    max-width: 90%;
    max-height: 80vh;
    object-fit: cover;
    box-shadow: 5px 0 oklch(82.032% 0.00009 271.152 / 0.9);
    border-radius: 5px;
}

.lightbox .previous-button{
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.lightbox .next-button {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
